# LangChain Core
langchain
langchain-core
langchain-community
langchain-classic

langgraph-checkpoint-sqlite
#Groq Integration
langchain-groq

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

streamlit
#pip install -U ddgs
ddgs

deepagents
uv
tavily-python


langchain_quickjs

langchain-qdrant
qdrant_client
pypdf

langchain-cerebras
langchain-cohere