# LangChain Core
langchain
langchain-core
langchain-community
langchain-classic
langgraph
langgraph-checkpoint-sqlite
#Groq Integration
langchain-groq


# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv


#qdrant--integration
langchain-qdrant
qdrant_client
pypdf

langchain-cerebras
langchain-cohere
